* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND */
.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') no-repeat center center/cover;
    z-index: -2;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

/* CENTER */
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card-main {
    background: rgba(0,0,0,0.75);
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 340px;
    backdrop-filter: blur(10px);
}

/* TITLE */
.card-main h1 {
    margin-bottom: 10px;
}

.card-main p {
    margin-bottom: 25px;
    color: #ccc;
}

/* BUTTON */
.menu button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    align-items: center;
    gap: 10px;
}

.menu button:hover {
    background: #1abc9c;
}

/* LOGO */
.menu img {
    width: 28px;
    height: 28px;
}

/* FORM (buat nanti dipakai) */
input, select {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 8px;
    border: none;
}
